* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 160px auto;
    grid-template-columns: minmax(230px, 18vw) auto;
}

.sidebar {
    background-color: blue;
    color: white;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 30px;
}

ul {
    list-style: none;
    font-size: 1.8rem;
    margin-left: 40px;
}

.logo {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 2.4rem;
    position:fixed;
}

.logo + ul {
    position: fixed;
    margin-top: 100px;
}

.logo + ul + ul {
    position: fixed;
    margin-top: 340px;
}

.header {
    background-color: aqua;
    display: grid;
    grid-template: 50px 110px / 70% 30%;
    position:sticky;
    top: 0px;
}

#search {
    width: 75%;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: 1px solid darkgray;
    align-self: center;
    margin-left: 5rem;
    padding-left: 20px;
}

.header-icons {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    margin-left: auto;
    margin-right: 4rem;
    gap: 4rem;
    align-items: center;
}

.welcome {
    display: grid;
    grid-template: auto auto / 40px auto;
    align-items: center;
    margin-left: 5rem;
}

.welcome-img {
    grid-row: 1 / 3;
    align-self: center;
}

.welcome-img + p {
    align-self: flex-end;
}

.welcome-name {
    align-self: flex-start;
}

.btns {
    display: grid;
    grid-template: 100% / repeat(3, 7rem);
    align-items: center;
    justify-content: start;
    gap: 3rem;
}

.btns > * {
    height: 3rem;
    border-radius: 8px;
    outline: 0;
    border: 2px solid white;
    background-color: royalblue;
    color: white;
}

.body {
    background-color: lightgray;
    display: grid;
    grid-template: 100vh / 5fr 2fr;
}

.body-lhs {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: 30px repeat(3, 220px);
    grid-auto-rows: 220px;
    margin-left: 20px;
    margin-top: 20px;
}

.body-lhs > h1 {
    grid-column: 1 / -1;
}

.card {
    background-color: white;
    border-radius: 10px;
}

.body-rhs {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-rows: 30px 1fr 50px 1fr;
    grid-template-columns: minmax(240px, 1fr);
    gap: 20px;
}

.announce-cards {
    border-radius: 10px;
    background-color: white;
}

.trending {
border-radius: 10px;
background-color: white;
}